:root {
    font-size: 16px;
}

body {
    background-image: url('Back.png');
}

#logo {
    margin: 0px auto 0;
    background-image: url('Logo.png');
    height: 864px;
    width: 994px;
}

 #main { 
    width: 1200px;
    margin: 30px auto 0;
    padding: 30px;
    color: white;
    height: 3600px;
    background: #616161;
 }

 #video {
    width: 700px;
    margin: 100px auto 0;
    padding: 30px;
    height: 450px;
    background: #ee0808;
 }
